ul{
    list-style-type: none;
    box-sizing: border-box;
    padding-left: 0px;
}

.row-header{
    margin: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge ;
    }
footer{
    background: rgba(95, 236, 212, 0.315);
    padding: 15px 0px ;
}
.jumbotron{
    margin: 0px auto;
    padding: 60px 20px;
    background: rgba(107, 15, 194, 0.753);
    color: floralwhite;
}

.address{
    font-style: italic;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.705);
}

body{
    padding-top: 50px;
}
.navbar-dark{
    background-color: rgb(69, 4, 107);
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    padding:10px ;

}
.label{
    margin-right:10px ;
}
.tab-content{
    border-left: 1px ridge rgb(208,208,208);
    border-right: 1px ridge rgb(208,208,208);
    border-bottom:  1px ridge rgb(208,208,208);
    padding: 10px;
}
.navbar-text{
    cursor: pointer;
}


.carousel{
    background-color:rgb(69, 4, 107);
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carousel-btn{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.modal-header {
    background-color:rgb(69, 4, 107);
    color:floralwhite;
}
.close{
    background-color:floralwhite;
    color:floralwhite;
}

.close:hover {
    background-color:floralwhite;
    color:rgb(69, 4, 107);
}
.modal-body{
    color: black;
    background-color:rgb(220, 169, 250);
}
.radiobtn{
    color: blue;
}